#root{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4.5em 11fr;
}

.nav{
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 255, 255, 0.425);
}

.nav-links{
  justify-content: end;
  align-items: center;
  height: 100%;
  display: flex;
}
.nav-links>a{
  display: flex;
  align-items: center;
  height: 50%;
  padding: 1em;
  transition: 200ms;
}

.nav-links>a:hover{
  text-decoration-line: underline;
  text-decoration-thickness: 0.15em;
  transition: 200ms;
}

a{
  text-decoration: none;
  color: inherit;
}

.active{
  background-color: rgba(200, 200, 200, 0.438);
}

.main {
  color: rgb(32, 32, 32);
}
